.flat-footer{
    background: lightgray;
    border-radius: 0 0 15px 15px;
    height: 80px;
}

.left-ctn, .right-ctn{
    height: 100%;
}

.flat-footer .left-ctn{
    width: calc(100% - 150px);
    float: left;
    border-right: 1px solid gray;
}

.flat-footer .right-ctn{
    width: 150px;
    float: right;
}

.flat-footer .action{

}

.flat-footer ul {

}
