.question-container{
    width: 100%;
    height: 200px;
    background: gray;

    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

.letf-ctn, .right-ctn{
    height: 100%;
}

.letf-ctn{
    width: 200px;
}

.letf-ctn .img{
    width: 100%;
    height: 70%;
}

.letf-ctn .img img{
    height: auto;
    max-height: 100%;
    width: 100%;
}

.right-ctn{
    width: calc(100% - 200px);
}

.right-ctn .h3{
    margin: 0;
}

.answers ul{
    list-style: none;
    margin: 0;
    padding: 10px;
}

.answer-item input{
    width: calc(100% - 80px);
}

.answer-item a{

}

.question-container .title{
    border-bottom: 1px solid black;
    padding: 3px;
}

.question-container .title label{
    display: inline-block;
    width: 60px;
    font-weight: bold;
    text-align: center;
}

.question-container .title input{
    font-weight: bold;
    width: calc(100% - 60px);
}
