*{
    box-sizing: border-box;
}

.btn{
    color: white;
    font-weight: bold;
}

.btn a{
    text-decoration: none;
}

/**
PAGES
 */

.ctn{
    margin: 0;
    padding: 0;
}

.ctn-lg{
    padding: 20px;
}

/**
FORMS
 */

form div{
    height: auto;
    padding: 6px;
}

form div *{
    display: inline-block;
}

form div label{
    width: 30%;
    font-weight: bold;
}

form div input{
    width: calc(100% - 30%);
}

input[type='submit']{
    width: 100%;
    font-weight: bold;
}

/**
LISTE
 */

.items ul{
    list-style: none;
    padding: 0;
}

.item a{
    text-decoration: none;
}
