.question-header{
    background-color: #404040;
    padding: 1%;
}

.question-header h3{
    color: #c2c2c2;
    text-align: center;
    margin: 0;
}
.head-container {
    background-color: black;
    padding: 0% 5% 0% 5%;
    position: relative;
    height: 400px;
}

.head-container img{
    width: auto;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.next-btn{
    position: absolute;
    width: 30%;
    right: 35%;
    bottom: 5%;
    padding: 1%;
    background: linear-gradient(to bottom right, #ff00ff 0%, #ffffff 100%);
    border: none;
    font-weight: bold;
    border-radius: 10px 5px 10px 5px;
    box-shadow: 4px 4px 8px black;
}

.next-btn:hover{
    background: gray;
    color: white;
}

.btn-question{
    font-weight: bold;
    padding: 2%;
}

.btn-question p{
    margin: 0;
}

.answer-container{
    background-color: #e7e7e7;
    padding: 2%;
}

.answer-header {
    display: flex;
    flex-direction: row;
    margin: 0% 1% 0% 1%;
}

.answer-header h3{
    border-bottom: 1px solid black;
    margin: 0;
    padding: 1% 0 1% 3%;
    width: 90%;
}

.answer-header p {
    height: auto;
    width: 10%;
    text-align: center;
    margin: 0;
    background-color: gray;
    border-left: 1px solid black;
    font-weight: bold;
}
